---
---

@import "{{ site.theme }}";

a img {outline : none;}
/*header {
  background-color: #ffffff;
  color: #999999;
}

 #header_wrap.outer {
 background-color: #ffffff; 
}
*/
img.project-name {
  border : 0;
  outline: none;
  box-shadow: none; // 0 0 5px #ebebeb;
  -webkit-box-shadow: none; // 0 0 5px #ebebeb;
  -moz-box-shadow: none; //0 0 5px #ebebeb;
  -o-box-shadow: none; //0 0 5px #ebebeb;
  -ms-box-shadow: none; //0 0 5px #ebebeb
 // height: 200px;
}
