---
---

@import "{{ site.theme }}";

//a img {outline : none;}
header {
  background-color: #ffffff;
  color: #999999;
}

#header_wrap {
 background-color: #ffffff; 
}
img.project_name {
  border : 0;
  outline: none;
  height: 200px;
}


